# Build & install directories
bin
lib
dep
deps
cov
coverage
bld
build
inc
include

# Prerequisites
*.d
*.gch

# Compiled Object files
*.lo
*.ko
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
